name: Build Your CV

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: crackedngineer/code-ur-cv@v0.0.3
        with:
          out-dir: "output"
          file-name: "config.yml"